/*==========* Barvy *==========*	
		#666666 	tmavě šedá
		#757575		šedá (menu)
		#f7f8ff		menubar
		#42b3e3		bledě modrá (tlačítko + menu)
		#faa732		oranžová (tlačítko)
		#3f5673		tmavě modrá (zápatí)
		#475570 	tmavě modrá (nadpisy)
*/
*		{
		font-family: Arial, sans-serif;
		font-size: 12pt;
		line-height: 1.2;
		margin: 0;
		}
hr 		{
		display: none;
		}
h1 a		{
		float: left;
		margin: 13pt 0pt 20pt 20pt;
		display: inline-block;
		background: url("images/logo.png") no-repeat;
		width: 188px;
		height: 71px;
		}
h1 span 	{
		display:none;
		}
/*===================* ZÁHLAVÍ *====================*/	
#social {    
		position: fixed; left: 0; top: 0;
		width:100%;
		height:32px;
		margin: 0;
		background-color: #666666;
		}
#social span {
		display: none;
		}
#topmenu {
		z-index:1;
		margin: 0;
		position: fixed; right: 15px; top: 3px;
		background-color: transparent;
		}
.login:link{
		padding: 10px;
		color: white;
		text-decoration:none;
		text-transform: lowercase;
		background: url("images/loginlink.png") no-repeat 100% 50%;
		}
.login:visited{
		color: white;
		}
.hidden:link{
		display:none;
		}
.twitter{
		display: inline-block;
		background: url("images/i_twitter.png") no-repeat;
		width: 22px;
		height: 22px;
		margin: 5px 0px 5px 5px;
		}
.fb		{
		display: inline-block;
		background: url("images/i_fb.png") no-repeat;
		width: 22px;
		height: 22px;
		margin: 5px 0px 5px 3px;
		}
.linkedin{
		display: inline-block;
		background: url("images/i_linkedin.png") no-repeat;
		width: 22px;
		height: 22px;
		margin: 5px 0px 5px 2px;
		}
/*==================================================*/

/*=====================* MENU *=====================*/
#header {
		margin-top: 32px;
		background-color: #f7f8ff;
		border-bottom: solid 1px #dedede;
		float: left;
		width: 100%;
		}
#header .inner{
		min-width: 650px;
		max-width: 1200px;
		margin: 0 auto;
		}
#menubar{
		margin-right: 50pt;
		}
#menu 	{
		float: right;
		list-style-type: none;
		margin-top: 30pt;
		padding-left: 0;
		}
		
#menu li	{
		display: inline-block;
		}
#menu li a {
		display: inline-block;
		color: #757575;
		text-align: left;
		padding: 14px 16px 14px 16px;
		text-decoration: none;
		border: solid 2px white;
		border-radius: 5px;
		margin: 0pt 0pt 0pt 20pt;
		}
#menu .dropdown a{
		background: url("images/caretb.png") no-repeat;
		background-position: bottom 23px right 15px;
		padding: 14px 28px 14px 16px;
		}
#menu .selected a{
		border: solid 2px #42b3e3;
		border-radius: 5px;
		color: white;
		background: url("images/caretw.png") no-repeat #42b3e3;
		background-position: bottom 23px right 15px;
		}
#menu li a:hover, #menu li a:active{
		border: solid 2px #42b3e3;
		border-radius: 5px;
		color: white;
		background: #42b3e3;
		}
#menu .dropdown a:hover, #menu .dropdown a:active{
		border: solid 2px #42b3e3;
		border-radius: 5px;
		color: white;
		background: url("images/caretw.png") no-repeat #42b3e3;
		background-position: bottom 23px right 15px;
		}
/*==================================================*/

/*=====================* TĚLO *=====================*/
header p	{
		font-style: italic;
		}

h2		{
		color: #475672;
		font-size: 2.5em;
		margin-bottom: 30px;
		}
.inner header{
		width: 100%;
		border-bottom: solid 1px #dedede;
		float:left;
		padding-bottom: 50px;
		margin-bottom: 30px;
		margin-top: 30px;
		}
.btn a	{	
		float: right;
		display: block;
		color: #757575;
		text-align: left;
		padding: 14px 16px 14px 16px;
		text-decoration: none;
		border: solid 2px white;
		border-radius: 5px;
		margin-top: -39px;
		}
.demo a	{
		background-color: #faa732;
		margin-right: 50pt;
		}
.docs a	{
		background-color: #42b3e3;
		margin-right: 10pt;
		}
.demo a:link, .demo a:visited{
		font-size: 1.1em;
		font-style: normal;
		font-weight: 600;
		text-decoration: none;
		color: white;
		}
.docs a:link, .docs a:visited{
		font-size: 1.1em;
		font-style: normal;
		font-weight: 600;
		text-decoration: none;
		color: white;
		}
#related{
		clear: both;
		background-color: #3f5673;
		}
#main	{
		padding: 0pt 15pt;
		clear: both;
		min-width: 650px;
		max-width: 1200px;
		margin: 0 auto;
		}
#main h3	{
		color: #475672;
		font-size: 1.8em;
		}
#main section{
		clear: both;
		}
#main section p{
		margin: 12pt 10pt 12pt 0pt;
		}
#main .inner section{
		margin-bottom: 30pt;
		}
#main .inner section img{
		float: right;
		margin: 10pt 0pt 20pt 15pt;
		}
#related h3, #related h3 a:link, #related h3 a:visited{
		color: white;
		font-size: 18pt;
		margin-top: 15pt;
		}
#related section {
		float: left;
		width: 32%;
		}	
#news p {
		color: white;
		height: 75px;
		overflow: hidden;
		}	
aside a 	{
		text-decoration: none;
		color: white;
		}
#didyouknow {
		float: right;
		width: 32%;
		margin-right: 10pt;
		}
#references{
		display: inline-block;
		margin-left: 8pt;
		width: 32%;
		}
#references q{
		padding-right: 10pt;
		}
#related{
		padding: 0pt 15pt;
		}
#related .inner{
		min-width: 650px;
		max-width: 1200px;
		margin: 0 auto;
		height: 380px;
		}			
#news strong, .sgn{
		color: #42b3e3;
		display: block;
		padding: 15px;
		}
#news h4 {
		font-size: 1.1em;
		color: white;
		padding-top: 15px;
		}
.abox h3 	{
		color: white;
		padding-bottom: 15px;
		}
#news strong:after{
		content: "...see more...";
		color: #42b3e3;
		font-weight: bold;
		display: block;
		float: right;
		cursor: pointer;
		font-size: 0.9em;
		}
/*==================================================*/

/*====================* ZÁPATÍ *====================*/
.copy	{
		float: left;
		color: white;
		margin: 10pt 0pt 10pt 10pt;
		}
.menu 	{
		float: right;
		margin-right: 20pt;
		}
.menu li {
		display: inline-block;
		text-decoration: none;
		margin: 10pt 10pt 10pt 0pt;
		}
.menu li a:link, .menu li a:visited {
		color:white;
		}
#footer {
		min-width: 650px;
		clear: both;
		background-color: #666666;
		overflow: auto;
		}
		
/*==================================================*/		