@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

* {
	/* použité písmo */
    font-family: "Saira Condensed";
    margin: 0;
    padding: 0;
}

/* velikosti písma */
h3         {font-size: 24px}
p,span {font-size: 18px}
footer   {font-size: 20px}

a:focus {
	outline: 0;
}

body {
    margin: auto;
    margin-top: 60px;
    width: 940px;
    height: 264px;
	/* barva pozadí */
	background-image: linear-gradient(to right, rgba(200,200,200,0), rgba(200,200,200,1));
}

h3 {margin: 7px 0;}

.section{margin-top: 42px;}

p {text-align: justify;}

.examples {
	margin: 10px 0 10px 0;
	font-weight: bold;
	text-align: center;
}

footer {
	margin: 30px 0 15px 0;
	text-align: center;
}
