footer {
    min-height: 200px;
}

footer .contact {
    color: #007bff !important;
}

footer .place {
    color: #cacaca !important;
}

.footer-body {
    min-height: 200px;
    color: #cacaca !important;
}

.footer-body span,p,h5,i {
    color: rgba(255, 255, 255, 0.5);
}

.fa-footer-size {
    font-size: 25px;
}

.text-shadow {
    text-shadow: 0px 0px 1px #aaaaaa;
}

.font-small {
    font-size: .75rem;
}
