/*============================* COLORS *=============================*/
.white, .hover-white:hover{
	color: #000 !important;
	background-color: #fff !important
}

.black, .hover-black:hover{
	color: #fff !important;
	background-color: #000 !important
}

.grey, .hover-grey:hover{
	color: #000 !important;
	background-color: #bbb !important
}

.light-grey, .hover-light-grey:hover{
	color: #000 !important;
	background-color: #f1f1f1 !important
}

.dark-grey, .hover-dark-grey:hover{
	color: #fff !important;
	background-color: #616161 !important
}

.red, .red:hover{
	color: #fff !important;
	background-color: #f44336 !important
}

/*============================* GLOBAL *=============================*/

html {
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden
}

*, *:before, *:after {
	box-sizing: inherit;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body {
	background: #000 url("magic_forest.png") no-repeat fixed center !important;
	background-size: cover !important;
	max-width: 1500px !important;
	width: 100% !important;
	overflow: auto !important;
	margin: auto !important;
}

.wrapper {
   min-height: 100vh;
   position: relative;
}

header {
	width: 100%;
	height: 4vw;
	/*background-color: pink;*/
}

.logo {
	float: left;
	width: 20%;
	height: 100%;
}

.logo img {
	width: 100%;
	padding: 2% 10%;
}

.top-menu {
	float: right;
	width: 80%;
	height: 64%;
	font-size: 1.2vw;
	font-family: fantasy;
	background-color: black;
	opacity: 0.9;
}

.top-menu-selected {
	float: right;
	width: 80%;
	height: 36%;
	padding: 0.3% 0 0 1%;
	font-size: 0.8vw;
	font-weight: bold;
	font-family: Optima, sans-serif;
	background-color: #bfbfbf;
	color: #404040;
	opacity: 0.9;
}

.top-menu a:first-child {
	float: left;
}

.top-menu a {
	float: right;
	width: 12%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	padding-top: 0.9%;
	color: white;
	transition: color .4s, background-color .4s
}

.top-menu a:hover {
	color: black;
	background-color: white;
}

.side-menu {
	float: left;
	width: 20%;
	margin-top: 0%;
	font-size: 1vw;
	font-weight: bold;
	font-family: Optima, sans-serif;
	background-color: #333333;
	opacity: 0.9;
}

.side-menu a {
	float: left;
	width: 100%;
	height: 2vw;
	text-decoration: none;
	color: white;
	padding: 0.5vw 0 0 2vw;
}

.side-menu a:hover{
	background-color: #666666;
}

.content {
	float: left;
	width: 80%;
	margin-top: 0%;
	min-height: 87vh;
	background-color: #d9d9d9;
	opacity: 0.9;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	height: 2.5vw;
	text-align: center;
	padding-top: 0.3vw;
	opacity: 0.7;
}